= simple_form_for [@task.project, @task], input_html: { class: 'form-horizontal' } do |f|
  .form_group.col-sm-8
    = f.input :title, input_html: { class: 'form-control' }
  .form_group.col-sm-8
    = f.input :description, input_html: { class: 'form-control' }
  .form_group.col-sm-5
    = f.input :end_date, discard_year:true, discard_minute: true, input_html: { class: 'form-control' }
  .form_group.col-sm-10
    = f.association :priority
  .form_group.col-sm-4
    = f.association :task_status
  .form-group
    .col-sm-offset-4.col-sm-10
      = f.button :submit, class: 'btn btn-default'
-#, as: :check_boxes, collection: Priority.all.pluck(:label), selected: Priority.first
-#collection: TaskStatus.all.pluck(:label), selected: TaskStatus.first 